h1{
    text-align: center;
    color: darkgoldenrod;
    margin: 20px 0;
}
h2,p{
    color: darkgreen;
}
.card{
    width: 50rem;
}
.card img{
    width:800px ;
    height: 400px;
}
img{
    height: 1000px;
}